- var image = "https://coronavirus.jle.im/coronacharts-120.png";
- var desc = "COVID-19 / Coronavirus interactive, customizable data visualization, animation, and analysis portal. Together, we can make it through this :)";
- var title = "Coronavirus Data Plotter";

doctype html
head
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-443711-10')
  script
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'UA-443711-10');
  link(href='../static/css/normalize.css' rel='stylesheet' type='text/css')
  link(href='../scss/grid.scss' rel='stylesheet' type='text/css')
  link(href='../scss/font.scss' rel='stylesheet' type='text/css')
  link(href='../scss/main.scss' rel='stylesheet' type='text/css')
  link(href='../scss/ui.scss' rel='stylesheet' type='text/css')
  link(href='https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css' rel='stylesheet' type='text/css')
  link(href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' rel='stylesheet' type='text/css')
  link(href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css' rel='stylesheet' type='text/css')
  meta(charset="utf-8")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")

  meta(name='description' content=desc)
  meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')

  meta(property='og:site_name' content=title)
  meta(property='og:description' content=desc)
  meta(property='og:type' content='website')
  meta(property='og:title' content=title)
  meta(property='og:image' content=image)
  meta(property='og:locale' content='en_US')
  meta(property='og:url' content='https://coronavirus.jle.im')
  meta(name='twitter:card' content='summary')
  meta(name='twitter:title' content=title)
  meta(name='twitter:description' content=desc)
  meta(name='twitter:image' content=image)
  meta(name='twitter:site' content='@mstk')
  meta(name='twitter:creator' content='@mstk')
  link(href='https://coronavirus.jle.im/favicon.ico' rel='shortcut icon')

  title Coronavirus Data Plotter



#header-container
#body-container.container
  #main-container.grid
    header.grid__col.grid__col--6-of-6
      h2 Coronavirus Data Plotter
    main#ui.unloaded

    #welcome-text.grid__col.grid__col--6-of-6.dialog.welcome.copy
      :markdown-it(html=true)

        ### Welcome!

        On this data portal, explore different aspects of COVID-19 /
        Coronavirus time evolution. I put this together because I saw a lot of
        different visualizations and data views over many different sites but
        no way to explore them all within the same tool. I hope this will be
        as helpful for you as it was for me, in helping process and understand
        the torrent of information and numbers we see in the news and on our
        phones every day.

        On this page you can set the x, y, color, and time axes to be
        different aspects of the underling data, and also customize what
        regions to display.  When you find a set of projections that you like,
        <a class="copylink" href="#">copy a link to share</a> or <a
        class="saveimage" href="#"> save the image</a> to your computer.  If
        you find a configuration that is particularly helpful or informative,
        I'd be [happy to hear from you!][twitter]

        [twitter]: https://twitter.com/mstk

        For some examples of configurations that might be useful, check these
        out: (click on the links to load them)

        *   <a class="dataview" href="/?x=cno&y=ccccw3no&z=ccral50cnanif&t=tnd&m=fftf35|21">Bhatia-Reich plots</a>,
            made famous by <a href="https://www.youtube.com/watch?v=54XLXg4fYsc" target="_blank">this MinutePhysics video</a>.
            Exponential growth shows up as a nice visual "highway" that
            regions travel along, and is easy to observe when they exit
            exponential growth.

        *   <a class="dataview" href="/?x=ccral50cnanif&y=ccccw2cpnif&z=ccccw2cmnif&t=tnd&m=fftf42|21">Growth curve plots</a>,
            displaying curves on the news that we are supposed to be
            flattening. Growth scaled based on population.  A logistic fit is
            added to visualize bell curve projections.

        *   <a class="dataview" href="/?x=tnd&y=ccgcw3no&z=cno&t=tcral58930nd&m=ffff">Percent growth plots</a>:
            periods of perfectly exponential growth show up as horizontal
            lines. Colors reflect absolute counts, to show more info at a
            glance.

        *   <a class="dataview" href="/?x=ccl13no&y=dno&z=ccral100cnanif&t=tnd&m=ftff35%7C21">Mortality Rate Plots</a>:
            The angle/slope of travel at each point in time approximates that
            moment's cumulative fatality rate.  The more upwards-angled, the higher
            the rate; the more rightward-angled, the lower.  13-day lag
            applied, as per [this CDC recommendation][cdc].

            [cdc]: https://wwwnc.cdc.gov/eid/article/26/6/20-0320_article?fbclid=IwAR3ActUE0gqlqQAdxb_ComHcb5P22tvaLWwp03UhzERAEJgI1eZgO_jNr5U

        *   <a class="dataview" href="/?x=dcccw7cccw7cmnif&y=dcccw7cmnif&z=ccral50cnanif&t=tnd&m=ffff">"Baserunner" Plots</a>:
            Regions all must move through a circular track, from "home base"
            at the bottom, counter-clockwise; when they get back "home", they
            are effectively out of the epidemic. Set-backs will visually
            appear as backtracking or getting lost. Inspired by Danny
            Dorling's [tornado plots][]

            [tornado plots]: https://twitter.com/emmawage/status/1255172980788785152

footer.container
  .grid.footer-wrapper
    .grid__col.grid__col--6-of-6.footer-body.copy
      :markdown-it
        Created and maintained by [Justin Le][] ([🐦][twitter])
        ([v1.4.1][changelog]), in association with [Chapman University][] and [Dr. Hesham
        El-Askary][hesham] (Director, Computational and Data Sciences, working
        with the government of Egypt).

        [Justin Le]: https://blog.jle.im/
        [twitter]: https://twitter.com/mstk
        [changelog]: https://github.com/mstksg/corona-charts/blob/master/CHANGELOG.md
        [Chapman University]: https://chapman.edu/
        [hesham]: https://www.chapman.edu/our-faculty/hesham-el-askary

        Nation-level data provided by [John Hopkins University][JHU] and US
        state-level data provided by the [New York Times][NYT], typically
        updated daily around 00:00 UTC and 16:00 UTC, respectively.  Much
        thanks to [Aatish Bhatia][] and [1point3acres][] for inspiration and
        helping show the power of data-driven interactive visualization in
        this time.

        [JHU]: https://github.com/CSSEGISandData/COVID-19
        [NYT]: https://github.com/nytimes/covid-19-data
        [Aatish Bhatia]: https://aatishb.com/covidtrends/
        [1point3acres]: https://coronavirus.1point3acres.com/en

        These are truly unprecedented times, but it in a lot of cases it has
        also brought out the best in all of us — the only way we will get
        through all of this is by coming together to protect those most
        vulnerable.  [Stay safe][], stay at home, and be mindful of the impact
        of your presence in public areas and the power you personally wield to
        make a difference.  Take care of your physical [and mental
        health][mentalhealth]!  If you are in a situation of financial
        stability, consider contributing what you can spare ([Give Directly][]
        / [more info][]).  We can make it through this, together ❤️.

        [Stay safe]: https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html
        [mentalhealth]: https://bit.ly/WHO-mental-health
        [Give Directly]: https://www.givedirectly.org/
        [more info]: https://www.givewell.org/charities/give-directly

        Application developed in [Purescript][] and powered by strongly and
        dependently typed functional programming, love, and coffee ☕. All code
        is open-sourced and [available on Github][source].  [Code
        contributions][contributions] and [ideas][] welcomed and greatly
        appreciated!

        [Purescript]: https://www.purescript.org/
        [source]: https://github.com/mstksg/corona-charts
        [contributions]: https://github.com/mstksg/corona-charts/pulls
        [ideas]: https://github.com/mstksg/corona-charts/issues


.helptip#linear-fit
  :markdown-it
    **Linear Growth**: Assumes that every day brings a fixed change.  Can often
    be found "in between" exponential growth and exponential decay, when
    growth is controlled but not yet eliminated.  Can also occur if reporting
    measures (like tests) has a fixed capacity per-day.

    *   *Daily Change*: Increase in count per day
.helptip#exponential-growth-fit
  :markdown-it
    **Exponential Growth**: Assumes that the change every day is proportional
    to the total amount of the previous day.  This is the hallmark pattern of
    uncontrolled epidemic growth, because each infected person becomes
    themselves a source of future infection.

    *   *Daily % Growth*: Percent growth per day
    *   *Doubling Time*: Time it takes for count to double
.helptip#logistic-fit
  :markdown-it
    **Logistic Growth**: Assumes that exponential growth in the beginning will
    steadily transition into exponential decay as limiting factors overpower
    growth factors.  In order to fit properly, this transition must have
    already begun.  Otherwise, it is indistinguishable from perfect
    exponential growth.

    *   *Final Total*: Maximum count after growth ends
    *   *Date of Peak*: Date when growth is highest
    *   *95% Date*: Date when 95% of maximum count is reached
.helptip#exponential-decay-fit
  :markdown-it
    **Exponential Decay**: Assumes that the decrease in growth rate is
    proportional to the total growth of the previous day.  This will happen if
    suppressing factors uniformly overpower spreading factors.

    *   *Final Total*: Maximum count after growth ends
    *   *95% Date*: Date when 95% of maximum count is reached
.helptip#quadratic-fit
  :markdown-it
    **Quadratic Growth**: Assumes the daily increases change at a constant
    rate.  Also known as "a linear fit on daily increases".  Can occur if
    daily increases are stable, yet experience a steady drift in one direction
    or the other.

    *   *Acceleration/Deceleration*: Change in daily increase per day
    *   *End Date*: If decelerating, the date when growth ends
    *   *Vertex Date*: If accelerating, "x-intercept" (date of 0 growth) when
          projecting backwards (useful for gauging steepness)
// .helptip#lookback-tip
//   :markdown-it
//     **Lookback**: How far back into the past (from the present day) to
//     consider in the analysis for fitting the models.
// .helptip#forecast-tip
//   :markdown-it
//     **Forecast**: How far into the future (from the present day) to
//     project, using the models.
.helptip#base-tip
  :markdown-it
    **Base Projection**: The underlying dataset to begin building your axis
    data from.   This data will be run through the transformations below
    to generate the data you want to plot.
.helptip#transformations-tip
  :markdown-it
    **Transformations**: With the basic building blocks below, you can
    generate many different unique aspects to visualize. Select different ones
    to see how they affect your data, and what options they can be configured
    with.  Chain as many as you want!  The result of all of your
    transformations on your base projection will be plotted.
.helptip#scale-tip
  :markdown-it
    **Scale**: How to "spread out" the values on the plot, relative to each
    other value.

    *   *Linear*: "Normal" scale — fixed distance on plot corresponds to
        fixed change in value.  Can be the most "truthful"; however,
        details for small scales can be lost if larger values are present.
    *   *Logarithmic*: Fixed distance on plot corresponds to fixed
        *proportional change* in value.  This is the natural scale for
        exponential growth and decay, because they look like straight lines.
        Also useful for being able to see detail at all scales.
    *   *Symmetric Log*: Log scales normally cannot show negative values;
        symmetric log plots negative and positive numbers on flipped log
        scales to preserve details at all scales, and stitches them together
        around 0.

script(src='https://cdn.jsdelivr.net/npm/d3@5.16.0')
script(src='https://cdn.jsdelivr.net/npm/d3-array@2.4.0')
script(src='https://cdn.jsdelivr.net/npm/d3-simple-slider@1.7.0')
script(src='https://cdn.jsdelivr.net/npm/save-svg-as-png@1.4.17')
script(src='https://cdn.jsdelivr.net/npm/papaparse@5.2.0')
script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.15')
script(src='https://cdn.jsdelivr.net/npm/toastify-js@1.7.0')
script(src='https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js')
script(src='../dist/app.js')
